
p{
    display: inline;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin: 5px;
}
#header{
    text-align: center;
}
#header input{
    border-radius: 5px;
}
#header button{
    background-color: #008cba;
    border-radius: 5px;
    color: white;
}





#contents{
    display: flex;
    height: 100%;
    padding: 20px;
}

#pending{
    height: 400px;
    vertical-align: top;
    background-color: #f0f0f0;

    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#pending button{
    float: right;
    margin: 3px;
}

#completed{
    height: 400px;
    vertical-align: top;
    background-color: #f0f0f0;

    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#completed .left{
    float: left;
    margin: 3px;
}

#completed .right{
    float: right;
    margin: 3px;
}


ul{
    list-style-type: none;
    padding-left: 0px;
}
li{
    background-color: #e6e2d3;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}



