:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;

    --width-todolist: 400px;

    --color-green: rgb(30, 255, 0);
    --color-red-button: rgb(148, 21, 21);
    --color-red-li-hover: rgb(27, 172, 8);
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}

.header {
    height: var(--height-header);
    width: 100%;

    background: linear-gradient(to right, black, var(--color-green));
    color: white;
    line-height: var(--height-header);
    padding-left: 10px;

    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.content {
    background-color: blanchedalmond;
    width: 100%;
    height: calc(100% - var(--height-header));
    padding-top: var(--height-header);

    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist {
    background-color: var(--color-green);
    height: var(--height-todolist);
    width: var(--width-todolist);

    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.todolist__header,
.todolist__input,
ul li {
    height: var(--height-todolist-header);
    line-height: var(--height-todolist-header);
    padding-left: 10px;
    width: 100%;

    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;

    list-style: none;
    border: none;
    outline: none;
}

.todolist__header {
    font-size: 1.5rem;
    text-align: center;
}

ul li {
    display: flex;
    justify-content: space-between;
}
ul li:hover {
    background-color: var(--color-red-li-hover);
}
ul li span {
    overflow: hidden;
}
ul li button {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    font-size: 1.5rem;
}

ul li button:hover {
    font-size: 1.7rem;
}
ul li button:active {
    font-size: 1.3rem;
}
ul {
    height: calc(var(--height-todolist) - var(--height-todolist-header) * 2);
    overflow: auto;
}
